[Desktop Entry]
Version=1.0
Type=Application
Name=Dynamic Wallpaper
Comment=Dynamic wallpaper for tealinuxOS
Exec=/usr/share/tealinux/dynamic-wallpaper/dynamic-wallpaper.sh
Icon=tealinux-dynamic-wallpaper
Path=/usr/share/tealinux/dynamic-wallpaper
Terminal=false
StartupNotify=false
